
<!--wayContent-->
<section role="wayContent">
    <aside class="viewport">
        <figure><img src="../img/rule/background.jpg" class="visual hidden-xs" alt="" /><img src="../img/rule/background-m.jpg" class="visual visible-xs" alt="" /></figure>
        <aside class="buttons inner">
            <a target="_blank" href="https://shop.samsung.com/tw/" class="btn cta1"><img class="hidden-xs" src="../img/rule/cta1.png" alt="" /><img class="visible-xs" src="../img/rule/cta1-m.png" alt="" /></a>
            <a target="_blank" href="https://members.samsung.com.tw/dealer_location/index.aspx" class="btn cta2"><img class="hidden-xs" src="../img/rule/cta2.png" alt="" /><img class="visible-xs" src="../img/rule/cta2-m.png" alt="" /></a>
        </aside>
        <aside class="links">
            <a target="_blank" href="https://www.samsung.com/tw/mobile-accessories/wireless-charger-pad-p1100/" class="link1">&nbsp;</a>
            <a target="_blank" href="https://www.samsung.com/tw/mobile-accessories/battery-pack-eb-p1100b/EB-P1100CSTGTW/" class="link2">&nbsp;</a>

        </aside>
        <aside class="video inner">
            <iframe src="https://www.youtube.com/embed/97H8xNykLF0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </aside>
    </aside>
</section>
<!--./wayContent-->