
<!--notice-->
    <section role="notice">
        <aside class="viewport">
            <aside class="inner">
                <p>活動注意事項：</p>
                <ol>
                    <li>本活動贈品其產品規格及顏色依各銷售通路公告內容與實際物品為準，恕不得挑款挑色，數量有限，送完為止。</li>
                    <li>本活動商品不可要求兌換其他贈品或折換現金或作為商品折扣使用，且不得與其他專案或促銷案合併使用。</li>
                    <li>Galaxy Watch限46mm/42mm藍牙版，贈品依購買型號而異。</li>
                    <li>如欲進行商品退貨，應維持原包裝完整性，將商品與贈品一併退回。</li>
                    <li>如有未盡事宜，台灣三星有最終解釋權，並保留活動變更修改終止之權利。</li>
                </ol>
            </aside>
        </aside>
    </section>
<!--./notice-->