<!--活動-->
<section role="events" class="section" id="events">
    <input class="hide" name="events" type="radio" id="filter0" value="" checked>
    <input class="hide" name="events" type="radio" id="filter1" value="">
    <aside class="viewport">
        <aside class="container">
            <h3 data-filter="filter0">當期活動</h3>
            <h3 data-filter="filter1">已結束活動</h3>
            <ul class="row">

                <li class="col-sm-4 col-xs-12" data-filter="filter0">
                    <article>
                        <figure>
                            <a data-omni-type="microsite" data-omni="tw:campaign:2019-galaxy-promotion:kv:2019holiday_learnmore" href="2019holiday/way.html"><img src="img/index/events/1.png" title="" /></a>
                        </figure>
                        <nav>
                            <aside class="vertical-middle">
                                <aside class="text-center">
                                    <span><b>活動時間：</b>2019-01-01~2019-02-28</span>
                                </aside>
                            </aside>
                            <a data-omni-type="microsite" data-omni="tw:campaign:2019-galaxy-promotion:kv:2019holiday_learnmore" class="vertical-middle" href="2019holiday/way.html"><span>活動辦法</span></a>
                        </nav>
                    </article>
                </li>
<!-- 
                <li class="col-sm-4 col-xs-12" data-filter="filter0">
                    <article>
                        <figure>
                            <a href="javascript:"><img src="img/index/events/1.png" title="海草海草海草海草" /></a>
                        </figure>
                        <nav>
                            <aside class="vertical-middle">
                                <aside class="text-center">
                                    <span><b>登錄期間: </b>2018/06/01~2018/06/30</span>
                                </aside>
                            </aside>
                            <a class="vertical-middle" href="2019holiday/way.html"><span>活動辦法</span></a>
                        </nav>
                    </article>
                </li>

                <li class="col-sm-4 col-xs-12" data-filter="filter0">
                    <article>
                        <figure>
                            <a href="javascript:"><img src="img/index/events/1.png" title="海草海草海草海草" /></a>
                        </figure>
                        <nav>
                            <aside class="vertical-middle">
                                <aside class="text-center">
                                    <span><b>登錄期間: </b>2018/06/01~2018/06/30</span>
                                </aside>
                            </aside>
                            <a class="vertical-middle" href="2019holiday/way.html"><span>活動辦法</span></a>
                        </nav>
                    </article>
                </li>

                <li class="col-sm-4 col-xs-12" data-filter="filter1" data-id="614ac569-03e8-4b48-bcc4-77967c51523b">
                    <article>
                        <figure>
                            <a href="javascript:"><img src="img/index/events/1.png" title="海草海草海草海草" /></a>
                        </figure>
                        <nav>
                            <aside class="vertical-middle">
                                <aside class="text-center">
                                    <span><b>活動期間: </b>2018/06/01~2018/06/17</span>
                                    <span><b>登錄期間: </b>2018/06/01~2018/06/30</span>
                                </aside>
                            </aside>
                            <a class="vertical-middle" href="2019holiday/way.html"><span>活動辦法</span></a>
                        </nav>
                    </article>
                </li> -->

            </ul>
        </aside>
    </aside>
</section>
<!--./活動-->