
<!--kv-->
<section role="kv" class="section" id="kv">
    <aside class="slick">
        <figure>
            <figure class="hidden-xs" data-src="img/index/kv/kv.jpg"></figure>
            <figure class="visible-xs" data-src="img/index/kv/kv-m.jpg"></figure>
            <a class="cta" data-omni-type="microsite" data-omni="tw:campaign:2019-galaxy-promotion:kv:learnmore" href="2019holiday/way.html">
                了解更多
            </a>
            <a class="cta2" data-omni-type="microsite" data-omni="tw:campaign:2019-galaxy-promotion:kv:buynow" target="_blank" href="https://shop.samsung.com/tw/">立即購買</a>
        </figure>
    </aside>
</section>
<!--./kv-->