

<!--step1-->
<aside role="step1">
    <form role="form">
        <h4><img data-src="img/icon-pen.png"><b>查詢您的登錄資料：</b></h4>
        <aside class="row">
            <aside class="col-sm-2"><label class="form-label">身分證字號</label></aside>
            <aside class="col-sm-10"><input placeholder="身分證字號" class="form-control" type="text"></aside>
        </aside>
        <aside class="row">
            <aside class="col-sm-2"><label class="form-label nowrap">SN/Serial Number</label></aside>
            <aside class="col-sm-10">
                
                <div class="input-group">
                    <input  class="form-control" type="text" name="cProduct_SN" data-validate="(\d|\w){11}" placeholder="請輸入11碼的S/N序號" required />
                    <a onclick="click_s_code_v33('o', 'search:imei_sn');"  href="#tutor" data-gall="gall-frame" data-vbtype="inline" class="venobox input-group-addon">
                        <span><i class="icon-question"></i>SN查詢教學</span>
                    </a>
            </aside>
        </aside>
        <aside class="row">&nbsp;</aside>
        <aside class="row">&nbsp;</aside>
        <aside class="row">
            <aside class="col-sm-10 col-sm-offset-2 text-right">
                <button class="btn">下一步&gt;</button>
            </aside>
        </aside>
        <aside class="row">&nbsp;</aside>
    </form>
</aside>
<!--./step1-->