

<!--step1-->
<aside role="step2">
    <form role="form">
        <h4><img data-src="img/icon-pen.png">STEP2<b>上傳購買憑證：</b></h4>
        <p>各通路可認證之購買憑證說明請詳閱活動辦法，相關憑證若不符合恕無法通過審核</p>
        <p>．三星商城 <a class="btn btn-small">憑證參考</a></p>
        <aside class="row">
            <div class="col-sm-12">
                <!-- <button type="button" class="btn btn-primary btn-block" onclick="document.getElementById('inputFile').click()">Add Image</button> -->
                <div class="form-group inputDnD">
                    <label class="sr-only" for="inputFile">File Upload</label>
                    <input type="file" class="form-control-file text-primary font-weight-bold" id="inputFile" accept="image/*" onchange="readUrl(this)" data-title="拖放圖片至此">
                </div>
            </div>
        </aside>
        <aside class="row">&nbsp;</aside>
        <aside class="row">&nbsp;</aside>
        <aside class="row">
            <aside class="col-sm-6 text-left">
                <button class="btn">&lt;上一步</button>
            </aside>
            <aside class="col-sm-6 text-right">
                <button class="btn">下一步&gt;</button>
            </aside>
        </aside>
        <aside class="row">&nbsp;</aside>
    </form>
</aside>
<!--./step1-->