

<!--step1-->
<aside role="step3">
    <form role="form">
        <h4><img data-src="img/icon-pen.png">STEP4<b>完成登錄：</b></h4>
        <p>感謝您完成【 Galaxy XXX登錄送活動】活動，我們將於10個工作天資料審核後(若為網路商城預購之消費者，將於10天鑑賞期過後進行審核)，系統會以E-mail 發送審核結果至您指定的電子信箱(如未收到Email通知，請檢查您的垃圾信件夾)，或您也可至「查詢登錄資料」頁面查詢審核進度。請注意! 若登錄資料不完整或錯誤，將取消贈品兌換資格。 您可至「查詢登錄資料」頁面確認登錄資料！</p>
        <p>活動相關問請洽Galaxy XXX登錄送活動小組專線： 02-XXXX-XXXX 。 專線開放時間：週一~週日(09:00~18:00)。 <br>感謝您對台灣三星電子的支持與愛護！</p>
        <aside class="row">&nbsp;</aside>
        <aside class="row">&nbsp;</aside>
        <aside class="row">
            <aside class="col-sm-6 text-left">
                <button class="btn">&lt;上一步</button>
            </aside>
            <aside class="col-sm-6 text-right">
                <button class="btn">下一步&gt;</button>
            </aside>
        </aside>
        <aside class="row">&nbsp;</aside>
    </form>
</aside>
<!--./step1-->