

<!--step1-->
<aside role="step3">
    <form role="form">
        <h4><img data-src="img/icon-pen.png">STEP3<b>確認您的填寫資料：</b></h4>
        <aside class="readonly">
            <aside class="row">
                <aside class="col-sm-2 col-xs-12"><label class="form-label">產品型號</label></aside>
                <aside class="col-sm-10 col-xs-12"><select class="form-control">
                    <option>選擇產品型號</option>
                </select></aside>
            </aside>
            <aside class="row">
                <aside class="col-sm-2"><label class="form-label">IMEI</label></aside>
                <aside class="col-sm-10"><input placeholder="請輸入15碼的IMEI" class="form-control" type="text"></aside>
            </aside>
            <aside class="row">
                <aside class="col-sm-2"><label class="form-label">SN</label></aside>
                <aside class="col-sm-10"><input placeholder="請輸入11碼的SN" class="form-control" type="text"></aside>
            </aside>
            <aside class="row">
                <aside class="col-sm-2"><label class="form-label">姓名</label></aside>
                <aside class="col-sm-10"><input placeholder="請輸入真實姓名" class="form-control" type="text"></aside>
            </aside>
            <aside class="row">
                <aside class="col-sm-2"><label class="form-label">性別</label></aside>
                <aside class="col-sm-10">
                    <label class="radio-label"><input name="gender" type="radio">男</label>
                    <!-- <label class="radio-label"><input name="gender" type="radio">女</label> -->
                </aside>
            </aside>
            <aside class="row">
                <aside class="col-sm-2"><label class="form-label">身分證字號</label></aside>
                <aside class="col-sm-3"><select class="form-control">
                    <option>本籍/外籍</option>
                </select></aside>
                <aside class="col-sm-7"><input placeholder="外籍人士請填寫居留證號碼" class="form-control" type="text"></aside>
            </aside>
            <aside class="row">
                <aside class="col-sm-2"><label class="form-label">出生日期</label></aside>
                <aside class="col-sm-10"><input class="form-control" type="date"></aside>
            </aside>
            <aside class="row">
                <aside class="col-sm-2"><label class="form-label">E-mail</label></aside>
                <aside class="col-sm-10"><input placeholder="建議填寫您的Samsung Account三星帳號E-mail" class="form-control" type="mail"></aside>
            </aside>
            <aside class="row">
                <aside class="col-sm-2"><label class="form-label">手機號碼</label></aside>
                <aside class="col-sm-10"><input placeholder="輸入手機號碼" class="form-control" type="mail"></aside>
            </aside>
            <aside class="row">
                <aside class="col-sm-2"><label class="form-label">市話</label></aside>
                <aside class="col-sm-3"><input placeholder="輸入區域號碼" class="form-control" type="mail"></aside>
                <aside class="col-sm-7"><input placeholder="輸入電話號碼" class="form-control" type="mail"></aside>
            </aside>
            <aside class="row">
                <aside class="col-sm-2"><label class="form-label">取貨通路</label></aside>
                <aside class="col-sm-10"><select class="form-control">
                    <option>選擇購買通路</option>
                </select></aside>
            </aside>
            <aside class="row">
                <aside class="col-sm-2"><label class="form-label">購物金使用平台</label></aside>
                <aside class="col-sm-10"><select class="form-control">
                    <option>選擇購物金使用平台</option>
                </select></aside>
            </aside>
            <aside class="row">
                <aside class="col-sm-3"><label class="form-label">請問您是否為預購消費者</label></aside>
                <aside class="col-sm-9">
                    <label class="radio-label"><input name="preorder" type="radio">是</label>
                    <!-- <label class="radio-label"><input name="preorder" type="radio">否</label> -->
                </aside>
            </aside>
            <aside class="row">
                <aside class="col-sm-2"><label class="form-label">預購</label>/訂單編號</aside>
                <aside class="col-sm-10"><input placeholder="預購及網購消費者請填入" class="form-control" type="text"></aside>
            </aside>
            <aside id="twzipcode">
                <aside class="row">
                    <aside class="col-sm-2"><label class="form-label">贈品寄送地址</label></aside>
                    <div class="col-sm-10"><input placeholder="" class="form-control" type="text" value="112台北市內湖區成功路三段135號"></div>
                </aside>
            </aside>
            <aside class="row">
                <aside class="col-sm-4"><label class="form-label">請問您上一隻手機品牌/型號
                </aside>
                <aside class="col-sm-4"><select class="form-control">
                    <option>選擇品牌</option>
                </select></aside>
                <aside class="col-sm-4"><select class="form-control">
                    <option>選擇型號</option>
                </select></aside>
            </aside>
            <aside class="row">
                <aside class="col-sm-4"><label class="form-label">
                        請輸入您的XX活動序號
                </aside>
                <aside class="col-sm-8"><input placeholder="輸入您收到的優惠序號" class="form-control" type="text"></aside>
            </aside>
            <aside class="row">
                <aside class="col-sm-4"><label class="form-label">
                        請輸入您的XX活動序號
                </aside>
                <aside class="col-sm-8"><input placeholder="輸入您收到的優惠序號" class="form-control" type="text"></aside>
            </aside>
        </aside>
        <aside class="row">&nbsp;</aside>
        <aside class="row">&nbsp;</aside>
        <aside class="row">
            <aside class="col-sm-6 text-left">
                <button class="btn">&lt;上一步</button>
            </aside>
            <aside class="col-sm-6 text-right">
                <button class="btn">下一步&gt;</button>
            </aside>
        </aside>
        <aside class="row">&nbsp;</aside>
    </form>
</aside>
<!--./step1-->