
@include keyframes(fade)
{
    0% {
        opacity: 1;
        // filter: none;
    }
    99.9999999% {
        opacity: 0;
        // filter: blur(10px);
    }
    100% {
        z-index: -1;
        height: 0;
        opacity: 0;
        // filter: blur(10px);
    }
}
@include keyframes(fadeIn)
{
    0% {
        z-index: inherit;
        height: 210px;
        opacity: 0;
        // filter: blur(10px);
    }
    100% {
        height: 210px;
        opacity: 1;
        // filter: none;
    }
}
@media screen and (max-width: #{$screen-xs-num}px) {
    @include keyframes(fadeIn)
    {
        0% {
            z-index: inherit;
            height: vwxs(120, 320);
            opacity: 0;
            // filter: blur(10px);
        }
        100% {
            height: vwxs(120, 320);
            opacity: 1;
            // filter: none;
        }
    }
}
@include keyframes(overlayFade)
{
    0% {
        opacity: inherit;
        filter: none;
    }
    99.9999999% {
        opacity: 0;
        filter: blur(10px);
    }
    100% {
        z-index: -1;
        height: 0;
        opacity: 0;
        filter: blur(10px);
    }
}
@include keyframes(overlayFadaIn)
{
    0% {
        z-index: inherit;
        height: 2em;
        opacity: 0;
        filter: blur(10px);
    }
    100% {
        height: 2em;
        opacity: 1;
        filter: none;
    }
}